@charset "utf-8";

// https://fonts.google.com/?sort=popularity
// TODO: use https://google-webfonts-helper.herokuapp.com
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// https://fonts.google.com/specimen/Open+Sans+Condensed?selection.family=Open+Sans+Condensed:300
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

// https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$family-sans-serif: "Roboto", sans-serif;

@import "../node_modules/bulma/bulma.sass";


// -------------------------------------------------------------------------
// General style
// -------------------------------------------------------------------------

.font-mono {
  font-family: "monospace";
}

.is-hidden {
  display: none;
}

.is-tiny {
  font-size: 0.5rem;
}

// -------------------------------------------------------------------------
// Note view styling
// -------------------------------------------------------------------------

$noteview-box-margin: 1rem;

.noteview {
  font-size: 0.875rem; // 14 px
  margin-left: $noteview-box-margin;
  margin-right: $noteview-box-margin;
}

.noteview ul, ol {
  padding-left: 1rem;
  list-style-type: circle;
  list-style-position: outside;
}

.noteview p + p {
  margin-top: 0.4rem;
}
.noteview ul + p {
  margin-top: 0.4rem;
}
.noteview ol + p {
  margin-top: 0.4rem;
}

/*
.noteview li {
  //margin-left: 10px;
  list-style-type: circle;
  list-style-position: inside;
}
*/

.noteview-title {
  font-family: "Open Sans Condensed";
  font-size: 2rem; // 1.75rem; // 28 px
  font-weight: 700;
}

.note-view-header {
  color: #12537e;
  background-color: #f6fbfe;

  border-color: #209cee;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  box-shadow: 0 0 0 1px #a4dbff;

  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  margin-left: -$noteview-box-margin;
  margin-right: -$noteview-box-margin;
  padding: .5em calc(1rem - 4px);   // left/right must equal negative margin subtracted by the border width

  font-size: 0.75rem; // 12 px
}
table.ui-note-header-table td {
  padding-right: 15px;
  height: 1.5rem;
  vertical-align: middle;
}
table.ui-note-header-table .tag + .tag {
  margin-left: 0.2rem;
}

.noteview h1 {
  font-size: 1.125rem; // 18 px
  font-weight: 700;

  background: #F5F5F5;
  border: 1px solid #D8D8D8;
  border-radius: 3px;

  line-height: 1.25rem;

  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
  margin-left: -$noteview-box-margin;
  margin-right: -$noteview-box-margin;
  padding: .5em calc(1rem - 1px);   // left/right must equal negative margin subtracted by the border width

  overflow: hidden;
}
.noteview h2 {
  font-size: 1.125rem; // 18 px
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}
.noteview h3 {
  font-size: 1rem; // 16 px
  font-weight: 700;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}
.noteview h4 {
  font-size: 0.875rem; // 14 px
  font-weight: 700;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}
.noteview h5 {
  font-size: 0.875rem; // 14 px
  font-weight: 700;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}
.noteview h6 {
  font-size: 0.875rem; // 14 px
  font-weight: 700;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}

.noteview pre {
  padding: 0.5rem 0.7rem;
  font-size: 0.75rem; // 12 px
  margin: 0.4rem 0;
}

// -------------------------------------------------------------------------
// Navbar
// -------------------------------------------------------------------------

$ui-navbar-height: 3.25rem;
$ui-width-col-left: 12%;
$ui-width-col-right: 3.25rem;

.ui-navbar {
  height: $ui-navbar-height;
  display: flex;
  background: #F4F3F2;
  align-items: center;
}
.ui-navbar-left {
  flex: none;
  width: $ui-width-col-left;
}
.ui-navbar-right {
  flex: none;
  width: $ui-width-col-right;
}
.ui-navbar-middle {
  flex: 1;
}
.ui-navbar-button {
  margin-left: 0.75rem;

  width: 2.3rem;
  height: 2.3rem;

  color: #363636;
  background-color: #e2ebf5;
  border: 1px solid #888888;
  border-radius: 1.15rem;

  box-shadow: 0 0 3px #888888;;

  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: inline-flex;
  font-size: 1rem;

  transition: 0.15s;
}
.ui-navbar-button:hover {
  //border: 1px solid #FF0000;
  background-color: #7ab8ff;
  box-shadow: 0 0 5px #666666;;
}

// -------------------------------------------------------------------------
// General layout
// -------------------------------------------------------------------------

.has-margin-top {
  margin-top: 0.75rem;
}

.navbar.color-light-gray {
  background: #F4F3F2;
}
.navbar.color-dark-gray {
  background: #21252B;
}

/* https://stackoverflow.com/questions/51467546/make-column-fill-vertical-space-in-bulma */
/* https://github.com/jgthms/bulma/issues/860 */
.is-fullheight {
  /*height: calc(100vh - ( 3.25rem - .75rem - .75rem) );*/
  /*height: calc(100vh - ( 3.25rem - .75rem ) );*/
}

.ui-main-container {
  height: calc(100vh - #{$ui-navbar-height});
  display: flex;
}

.ui-column-left {
  background: #F4F3F2;

  flex: none;
  width: $ui-width-col-left;

  display: table-cell;
  border-collapse: collapse;
  border-right: 1px solid #DADADA;

  overflow: auto;
}

.ui-column-right {
  background: #F4F3F2;

  flex: none;
  width: $ui-width-col-right;

  display: table-cell;
  border-collapse: collapse;
  border-left: 1px solid #DADADA;

  overflow: auto;
}

.ui-column-middle {
  padding: 0;
  //margin-top: 0.75rem;
  overflow: scroll;
  border-top: 1px solid #DADADA;

  min-height: 100%;
}

// -------------------------------------------------------------------------
// Table stuff
// -------------------------------------------------------------------------

/* For cell truncation / avoiding line breaks */
.table-fixed {
  table-layout: fixed; /* https://stackoverflow.com/questions/5932018/fluid-table-with-td-nowrap-text-overflow */
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;  /* https://stackoverflow.com/questions/22260240/width-of-element-with-white-space-nowrap-doesnt-adjust-to-child-content */
  /* consider switching to box-sizing: border-box */

  /* overflow: hidden seems to affect the height: https://stackoverflow.com/questions/32190967/why-does-overflow-hidden-affect-height-and-how-can-i-fix-it-in-this-example   */
  /* Apparently we have to mess with vertical-align to fix it... */
  vertical-align: top;
}

// -------------------------------------------------------------------------
// Input helpers
// -------------------------------------------------------------------------

.complete-selection {
  background: rgb(196, 227, 255);
}

// -------------------------------------------------------------------------
// Text area helpers
// -------------------------------------------------------------------------

/* https://stackoverflow.com/questions/6795981/textarea-to-fill-a-parent-container-exactly-with-padding/6796064 */
.is-maximized {
  width:100%;
  height:100%;
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
}

.ui-text-area:not([rows]) { // need to overrule Bulma's text-area:not([rows])
  height: 100%;
  min-height: 600px;
}

// -------------------------------------------------------------------------
// Dropdowns
// -------------------------------------------------------------------------

.ui-compact-dropdown-item {
  font-size: 0.75rem;
}

// -------------------------------------------------------------------------
// Float overlays
// -------------------------------------------------------------------------

.float-wrapper {
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
}

.float-box {
  width: 100%;
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  z-index: 999;
  /* card has only light box-shadow => make more pronounced */
  box-shadow: 0 10px 30px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  /* display: inline-block; */
  /* position: absolute; */
  /* float: left; */
}


// -------------------------------------------------------------------------
// Scrollbar styling
// -------------------------------------------------------------------------

::-webkit-scrollbar {
  background-color: #fff;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  black
}